Source: aixblast-tnt
Section: games
Priority: optional
Maintainer: Markus Pister <pister@absint.com>
Build-Depends: debhelper (>= 4.0.0), autotools-dev
Standards-Version: 3.6.2

Package: aixblast-tnt
Architecture: all
Conflicts: xblast-tnt
Depends: libc6, libice6, libx11-6
Description: AbsInt XBlast-TNT.
 This is the AbsInt version of XBlast-TNT.
